.bag{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: rgb(255, 153, 0); */
    padding-bottom: 2%;
    background: linear-gradient(to right, #25c481, #25b7c4);
}
.bag table{
    width: 80%;
    margin: 20px 10%;
    /* margin: 30px; */
    table-layout: fixed;
    /* background-color: blue; */
    border: 1px solid #555;
    border-radius: 20px;
    padding: 10px;
}
/* .bag table tbody{
    margin: 10vw;
    background-color: red;
} */
tbody{
    height: 200px;
    overflow-x: hidden;
    border: 1px solid rgba(255,255,255,0.3);
}
th{
    padding: 10px 15px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #555;
}
th:nth-child(1), th:nth-child(2){
    text-align: center;
}
td{
    padding: 20px -20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    border-radius: solid 1px rgba(255,255,255,0.1);
    color: #fff;
    border-bottom: 1px solid #555;
}
td:nth-child(1){
    text-align: center;
}
td:nth-child(3), td:nth-child(4){
    text-align: center;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 30px;
}
.buttons button{
    background-color: #25c481;
    width: 20%;
    outline: none;
    border: 0;
    cursor: pointer;
    font-size: 19px;
    border-radius: 20px;
}
.buttons button:last-child{
    width: unset;
    padding: 4px;
    border-radius: 5px;
    font-size: 15px;
    background: rgb(255, 51, 0);
}
.totals{
    width: 75vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 20px;
    padding: 10px 50px 10px 0px;
}
.totals button{
    margin-left: 20px;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    border: 0;
    padding: 5px;
    background: rgb(255, 51, 0);
    cursor: pointer;
}
.empty{
    text-align: center;
}
